.titulo{
    background-color: rgb(30, 146, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.39);
}

.titulo1{
    font-family: Montserrat;
    color: white;
    font-size: 30px;
    
}

.tempoDiv{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.fundoTempo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.267);
}

.paragrafo{
    font-family: Montserrat;
    font-weight: 550;
    font-size: 25px;
    color: rgb(30, 146, 55) ;
}

.input{
    text-align: center;
    width: 270px;
    height: 35px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
    border: 2px solid rgb(30, 146, 55);
    color: black;
    font-family: Montserrat;
    font-weight: 550;
    font-size: 22px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 45px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(30, 146, 55);
    box-shadow: 0px 0px 15px rgba(12, 12, 12, 0.205);
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 650;
    cursor: pointer;
    opacity: 70%;
    transition: 0.4s;
}

.botao:hover{
    opacity: 100%;
}

#temperatura{
    font-family: Montserrat;
    font-weight: 550;
}